@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #32373e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gradient-to-r from-gray-800 to-black;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b5f65;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #84878b;
}

/* Corner */
::-webkit-scrollbar-corner {
  display: none;
  background: transparent;
}
